$font: 'Open Sans', sans-serif;

%displayFlex {
  display: flex;
  align-items: center;
}

.top__header {
  height: 64px;
  width: 100%;
  padding: 0 2em;
  box-sizing: border-box;
  font-family: $font;
  box-shadow: inset 0 -1px 0 0 #dadce0;

  .top__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .image__title_block {
      @extend %displayFlex;
      gap: 10px;
      flex: 0 1 10%;

      .title {
        font-size: 26px;
      }
    }

    .settings {
      @extend %displayFlex;
      gap: 15px;
    }

    .search {
      flex: 0 1 75%;
      height: 70%;

      .search__select {
        background: #fff !important;
        border: 1px solid transparent;
        box-shadow: 0 1px 1px 0 rgb(65 69 73 / 15%), 0 1px 3px 1px rgb(65 69 73 / 15%);
      }

      .search__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f1f3f4;
        height: 100%;
        width: 50%;
        border-radius: 8px;
        padding: 0 10px;
        box-sizing: border-box;
        font-family: $font;

        .search__icon {
          flex: 0 1 36px;
        }

        .close__icon {
          flex: 0 1 36px;
          justify-content: center;
          display: flex;
        }

        .input__search {
          flex: 0 1 95%;

          input {
            width: 100%;
            height: 30px;
            border: none;
            background: none;
          }
        }
      }
    }
  }
}
