<div>
  <form [formGroup]="createNoteFormGroup" class="create__note_form" [style.background]="selectedBackgroundColor?.value">
    <div class="title__text_panel" [style.background-image]="'url(' + selectedBackgroundImage?.fullPathToImage + ')'">
      <div *ngIf="isNoteCreatingFocus" class="title__block" role="textbox">
        <div class="text__util"></div>
        <div class="text__input" #titlebox contenteditable="true" (focus)="skipFocus && setNoteCreationOnFocus()"
             (input)="setTextForNote($event, 'title')" placeholder="Title"></div>
        <div class="clip__block" (click)="setMarked()">
          <img *ngIf="!createNoteFormGroup.get('isMarked')?.value" src="assets/icons/clip.svg" alt="Clip">
          <img *ngIf="createNoteFormGroup.get('isMarked')?.value" src="assets/icons/clip-filled.svg" alt="Clip">
        </div>
      </div>
      <div class="title__action_list" role="textbox">
        <div class="text__block">
          <div class="text__input" #textbox contenteditable="true" (focus)="setNoteCreationOnFocus()"
               (input)="setTextForNote($event, 'text')" placeholder="Note..."></div>
        </div>
        <div class="icons" *ngIf="!isNoteCreatingFocus">
          <div class="icon">
            <img src="assets/icons/checkbox.svg" alt="list">
          </div>
          <div class="icon">
            <img src="assets/icons/pencil.svg" alt="pencil">
          </div>
          <div class="icon">
            <img src="assets/icons/image.svg" alt="image">
          </div>
        </div>
      </div>
    </div>
    <div class="tool__panel" *ngIf="isNoteCreatingFocus">
      <div class="tools">
        <app-note-toolbar (selectBackgroundColor)="handleSelectedBackgroundColor($event)"
                          (selectBackgroundImage)="handleSelectedBackgroundImage($event)"></app-note-toolbar>
      </div>
      <div class="close__block">
        <button>Close</button>
      </div>
    </div>
  </form>
</div>
