%editableTextblock {
  width: 100%;

  .text__input {
    width: 100%;
    height: auto;
    resize: none;
    pointer-events: all;
    line-height: 1.4;

    &[contenteditable=true]:empty:before {
      content: attr(placeholder);
      font-size: 16px;
    }
  }
}

.create__note_form {
  width: 600px;
  margin: 3em auto;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  font-family: "Open Sans", sans-serif;
  transition: .3s ease-in-out;

  .title__text_panel {
    padding: .8em;
    height: 100%;
    border-radius: 12px 12px 0 0;
    background-position-x: right;
    background-position-y: bottom;
    background-size: cover;

    .title__block {
      @extend %editableTextblock;
      position: relative;
      margin-bottom: 1em;
      font-weight: 600;
      color: rgba(0,0,0,0.6);
  
      .text__util{
        width: 32px;
        height: 32px;
        float: right;
      }
  
      .clip__block{
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .title__action_list {
    display: flex;
    align-items: center;
    height: 100%;
    

    .icons {
      display: flex;
      width: 140px;
      justify-content: space-around;
    }

    .text__block {
      @extend %editableTextblock;
      font-size: 14px;
    }
  }

  .tool__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 0.8em 0.8em 0.8em;

    .icons {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      align-items: center;
      flex: 0 1 70%;

      .icon {
        width: 32px;
        display: flex;
        height: 32px;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        &:hover {
          background: rgba(95, 99, 104, 0.157);
          border-radius: 50px;
        }

        img {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .background__picker{
    position: absolute;
    top: 30px;
    background: #fff;
    left: 85px;
  }
}
