<section class="notes__section">

  <div class="notes">
    <div *ngFor="let note of notes" class="note"
         [style.background-image]="'url(' + note?.backgroundImage?.fullPathToImage + ')'"
         [style.background-color]="note.backgroundColor?.value"
         (mouseover)="showHiddenElements(note)" (mouseleave)="hideElements()">
      <div class="note__text_block">
        <div class="title">
          <h4>{{note.title}}</h4>
        </div>
        <div class="text">
          <h3>{{note.text}}</h3>
        </div>
      </div>
      <div class="hidden__elements_block" [class.show__hidden_elements]="isOnFocus && currentFocusedNoteId === note.id">
        <app-note-toolbar *ngIf="isOnFocus && currentFocusedNoteId === note.id" [showAdditionalActions]="false"
                          (selectBackgroundImage)="handleBackgroundImage($event, note)"
                          (selectBackgroundColor)="handleBackgroundColor($event, note)"
                          [selectedBackgroundColor]="note.backgroundColor.value"
                          [selectedBackgroundImage]="note.backgroundImage.name"
        ></app-note-toolbar>
      </div>
    </div>
  </div>
</section>
