.note__tool_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .icons {
    display: flex;
    align-items: center;
    flex: 0 1 100%;
    justify-content: space-between;

    .icon {
      width: 32px;
      display: flex;
      height: 32px;
      cursor: pointer;
      align-items: center;
      justify-content: center;

      &:hover {
        background: rgba(95, 99, 104, 0.157);
        border-radius: 50px;
      }

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.background__picker {
  position: absolute;
  top: 30px;
  background: #fff;
  left: 85px;
  z-index: 1;
}
