<div class="note"
     [style.background-image]="'url(' + note?.backgroundImage?.fullPathToImage + ')'"
     [style.background-color]="note.backgroundColor?.value"
     [class.hide__on_click]="isDetailsDialogOpened"
     (mouseover)="showHiddenElements(note)" (mouseleave)="hideElements()">
  <div class="note__text_block" (click)="showNoteDetails()">
    <div class="title">
      <h4>{{note.title}}</h4>
      <div class="text__util"></div>
      <div class="clip__block" (click)="markNote($event)" *ngIf="isOnFocus && currentFocusedNoteId === note.id">
        <img *ngIf="!note.isMarked" src="assets/icons/clip.svg" alt="Clip">
        <img *ngIf="note.isMarked" src="assets/icons/clip-filled.svg" alt="Clip">
      </div>
    </div>
    <div class="text">
      <h3 *ngIf="!isEditable">{{note.text | slice: 0: 12}}</h3>
      <div *ngIf="isEditable" #textbox contenteditable="true">{{note.text}}</div>
    </div>
  </div>
  <div class="hidden__elements_block" [class.show__hidden_elements]="isOnFocus && currentFocusedNoteId === note.id">
    <app-note-toolbar *ngIf="isOnFocus && currentFocusedNoteId === note.id" [showAdditionalActions]="false"
                      (selectBackgroundImage)="handleBackgroundImage($event, note)"
                      (selectBackgroundColor)="handleBackgroundColor($event, note)"
                      (addToArchive)="handleAddToArchive($event)"
                      (removeFromArchive)="handleRemoveFromArchive($event)"
                      [selectedBackgroundColor]="note.backgroundColor.value"
                      [selectedBackgroundImage]="note.backgroundImage.name"
                      [note]="note"
    ></app-note-toolbar>
  </div>
</div>
